@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');

:root {
  scroll-behavior: smooth;
}
body {
  background-color: hsl(214, 44%, 8%);
  color: rgb(216, 241, 255);
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
}

.texts {
  margin-top: 2em;
  padding-inline: 1em;
  font-family: "Nova Square";
}

.registerBtn {
  padding: 0.5em 0.75em;
  border-radius: 0.2em;
  border: none;

  font-size: 2em;
  font-family: "Audiowide";
  text-transform: uppercase;

  color: rgb(197, 229, 255);
  background-color: hsl(210, 40%, 30%);
  transition:
    box-shadow 300ms,
    transform 300ms,
    text-shadow 300ms;
}


.registerBtn:hover {
  transform: translate(0, -10px);
  text-shadow: 2px 2px 2px dodgerblue;
  box-shadow: 5px 5px 0 dodgerblue, 5px 5px 50px rgba(30, 143, 255, 0.729);
}

.registerNow {
  padding-top: 3.2em;
  padding-bottom: 3.2em;
}

@media only screen and (min-width: 900px) {
  body {
    margin: 1em;
    border-radius: 1em;
    box-sizing: border-box;
  }
  .texts {
    text-align: center;
    font-size: 1.4em;
  }
  .banner {
    border: 2px solid hsl(214, 44%, 15%);
    border-radius: 1em;
    box-shadow: 0 0 10px hsla(214, 44%, 13%, 50%);
  }
  
  .slideShow img {
  border-radius: 0.75em;
  border: 2px solid hsl(214, 44%, 15%);
  }
  .flexBox {
    display: flex;
    justify-content: space-around;
  }
  .registerBtn {
    padding: 1em 1.25em;
    border-radius: 0.5em;
  }
  .vbar {
    border: 1px solid;
  }
  footer {
    border-radius: 0.75em;
    margin-top: 2em;
  }
  .registerNow {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

img {
  max-height: 100dvh;
  object-fit: cover;
}

abbr {
  text-transform: uppercase;
  font-family: sans-serif;
  font-style: normal;
}

.slideShow {
  width: min(100%, 800px);
  margin-inline: auto;
}

.slideShow img {
  height: 50vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400;
  vertical-align: super;
}

h2.h2 {
  color: hsl(210, 40%, 20%);
  text-align: center;
  font-family: "Kings", serif;
}

.registerNow {
  display: grid;
  place-content: center;
  transition: padding 300ms;
}

a {
  color: unset;
}

footer {
  background-color: hsl(214, 44%, 5%);
  color: hsl(210, 30%, 20%);
  padding: 1em;
}

footer p {
  margin: 0;
  line-height: 1.6;
  transition: color 300ms;
}

.flexBox > * {
  margin-top: 1em;
} 

.spaceBefore {
  margin-inline-start: 1.7em;
}

footer p:hover {
  color: hsl(210, 40%, 30%);
}

.s24 {
  width: 34px;
}

.indicator {
  height: 100px;
  margin-bottom: 5em;
}
.indicator > button {
  height: 100px;
}
.indicator > button > img {
  margin-top: 1em;
  height: 100px;
  border-radius: 0.5em;
  border: 2px solid hsl(210, 40%, 30%);
}