affine
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asgiref
attrs
billiard
celery
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cligj
cloudinary
colorama
crispy-bootstrap5
cron-descriptor
cycler
deprecation
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-phone-field
django-rest-framework
django-solo
django-timezone-field
djangorestframework
djangorestframework_simplejwt
filelock
fonttools
frozenlist
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
kiwisolver
kombu
lxml
Markdown
packaging
pillow
pipenv
platformdirs
postgrest
prompt_toolkit
propcache
psycopg2-binary
PyJWT
pyparsing
python-crontab
python-dateutil
python-decouple
python-dotenv
python-pptx
pytz
redis
requests
setuptools
six
sqlparse
StrEnum
supabase
supafunc
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
websockets
whitenoise
XlsxWriter
yarl
