affine
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asgiref
attrs
billiard
celery
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cligj
cloudinary
colorama
contourpy
crispy-bootstrap5
cron-descriptor
cycler
deprecation
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-phone-field
django-rest-framework
django-solo
django-timezone-field
djangorestframework
djangorestframework_simplejwt
filelock
fonttools
frozenlist
geopandas
gotrue
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jplephem
kiwisolver
kombu
lxml
Markdown
matplotlib
MouseInfo
multidict
numpy
opencv-contrib-python
packaging
pandas
pillow
pipenv
platformdirs
postgrest
prompt_toolkit
propcache
psycopg2
psycopg2-binary
PyAutoGUI
pydantic
pydantic_core
PyGetWindow
PyJWT
PyMsgBox
pyogrio
pyparsing
pyperclip
pyproj
PyRect
PyScreeze
python-crontab
python-dateutil
python-decouple
python-dotenv
python-pptx
pytweening
pytz
rasterio
realtime
redis
requests
setuptools
sgp4
shapely
six
skyfield
sniffio
sqlparse
storage3
StrEnum
supabase
supafunc
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
websockets
whitenoise
XlsxWriter
yarl